<tr>
  <td class="micropost">
    <span class="content"><%= micropost.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    </span>
  </td>

  <!--
    The rescue in the following line is to prevent a bug in Rails 3.
    Sometimes the micropost.user association is not made properly.
  -->
  <% user = micropost.user rescue User.find(micropost.user_id) %>

  <% if current_user?(user) %>
    <td>
      <%= link_to "delete", micropost, :method => :delete,
                                       :confirm => "You sure?",
                                       :title => micropost.content %>
    </td>
  <% end %>
</tr>